{#
/**
 * @file
 * Default theme implementation to display a formatted  icm field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - effect: An optional image style.
 * - link_image_to: An optional URL the image can be linked to.
 *
 * @see template_preprocess_image_formatter()
 *
 * @ingroup themeable
 */
#}
<div class="icm-preview">
    <div class="icm icm-{{ effect }}" style="width: 750px">
        {% for key,value in url %}
            {% if link_image_to %}
                {% if link_image_to.type == 'content' %}
                    <img alt="{{ value.alt }}" src="{{ value.url }}" onclick="window.open('{{ link_image_to.path }}', '_self')" />
                {% endif %}
                {% if link_image_to.type == 'file' %}
                    <img  alt="{{ value.alt }}" src="{{ value.url }}" onclick="window.open('{{ value.url }}', '_self')"/>
                {% endif %}
            {% else %}
                <img alt="{{ value.alt }}" src="{{ value.url }}" data-cycle-title="{{ value.title }}"/>
            {% endif %}
        {% endfor %}
    </div>
</div>

